*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 80%;
color: white;


img{
    width: 100%;
    z-index: -2;
    
}
h2{
    position: absolute;
    margin-bottom: 5rem;
    font-size: 3rem;
}
p{
    position: absolute;
    font-size: 1.3rem;
}
input{
    position: absolute;
    margin-top: 5rem;
    width: 40rem;
    height: 3rem;
    border: none;
    border-radius: 10rem;
    padding: 1rem;
    color: black;
}
}
