.container-input{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    position: absolute;
    height: 27rem;
    z-index: 9999;
    background:  linear-gradient(0deg, #00000019 0%, #0000008c 100%);
    h3{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    p{
        
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .input-center{
        display: flex;
       input{
        
        width: 35rem;
        height: 3rem;
        border: none;
        border-radius: 1rem 0 0 1rem  ;
        padding: 1rem;
        color: black;
        outline:0; 
    }
    .container-select {
        height: 3rem;
        background-color: white;
        display: flex;
        align-items: center;
       
      
        select {
          margin-right: 0.3rem;
          width: 6.2rem;
          height: 2.5rem;
          font-size: 1.1rem;
          border: none;
          border-radius: 5rem;
          padding: 0 0.5rem;
          border: solid 2px rgba(219, 219, 219, 0.974);
      
          &:hover {
            background-color: rgba(235, 235, 235, 0.974);
          }
      
          &:focus {
            outline: none;
          }
      
          &:checked {
            outline: none;
            border: none;
          }
      
          option {
            background-color: white;
            margin: 1rem 0;
            width: 10rem;
            &:hover {
              color: #004122;
            }
          }
        }
      }
      
     
    button{
        width: 7rem;
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
        height: 3rem;
        border: none;
        border-radius: 0 1rem 1rem 0 ;
        background: linear-gradient(220.55deg, #48b982 0%, #0f6e40 100%);
        
        &:hover{
            background: linear-gradient(220.55deg, #009b50 0%, #004122 100%);
        }
    } 
    }
    
    }

    @media (max-width: "700px") {
        .container-input{
            
            h3{
                margin-left: 1.5rem;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
                margin-left: 1.5rem;
            }
        
            .input-center{
                width: 21rem;
               input{
    
            }
            button{
                width: 15rem ;
                font-size: 1rem;
            } 
            }
            
            }
    }