*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.container-detail{
   
   color: rgb(101, 111, 121);


    .user{
        display: flex;
        width: 100%;
        height: 5rem;
        

        .user-img{
            display: flex;
            align-items: center;
            margin-left: 2rem;

            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            .title-fallow{
                margin-left: 1rem;
                display: flex;
                flex-direction: column;

                h5{
                    font-size: 1.2rem;
                }

                .view{
                    display: flex;
                    justify-content: center;
                    margin-top: 0.5rem;
                    color: #009b50;
                    
                }
            }
        }

        .container-button{
            width: max-content;
            display: flex;
            align-items: center;
            margin-left: auto;

            .like{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #3c3c3c;
                width: 5rem;
                height: 3rem;
                border-radius: 1rem;
                margin-right: 0.5rem;
                color: #009b50;
                font-size: 1.1rem;

                &:hover{
                    color: #004122;
                    border: 3px solid #0f6e40;
                }
                
            }

            .download{
                background: linear-gradient(220.55deg, #48b982 0%, #0f6e40 100%);
                width: 10rem;
                height: 3rem;
                margin-right: 2rem;
                border: none;
                border-radius: 3rem;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:hover{
                    background: linear-gradient(220.55deg, #009b50 0%, #004122 100%);
                }

                span{
                    font-size: 0.7rem;
                    color: white;
                    display: flex;
                    justify-content: center;

                    .icon-download{
                        color: white;
                        width: 1.5rem;
                        font-size: 1rem;

                    }
                }

            }
        }
    }




    .c-img{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 27rem;
            width: auto;
        }
    }

    .c-tang{
        margin-left: 1rem;
    }

   
}