*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-detail{
   
   color: rgb(101, 111, 121);


    .user{
        display: flex;
        width: 100%;
        height: 5rem;
        

        .user-img{
            display: flex;
            align-items: center;
            margin-left: 2rem;

            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            .title-fallow{
                margin-left: 1rem;
                display: flex;
                flex-direction: column;

                h5{
                    font-size: 1.2rem;
                    color: black;
                }

                .view{
                    display: flex;
                    justify-content: center;
                    margin-top: 0.5rem;
                    
                }
            }
        }

        .container-button{
            width: max-content;
            display: flex;
            align-items: center;
            margin-left: auto;

            .container-like{
                display: flex;
           
            .like{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(101, 111, 121);
                width: max-content;
                height: 3rem;
                border-radius: 1rem;
                margin-right: 0.5rem;
                color: black;
                font-size: 1.1rem;
                padding: 0 1rem;
                background-color: white;

                
                &:active{
                    color: #004122;
                    border: 1px solid #009b50;
                }
                
            }
        }

            .download{
                background: linear-gradient(220.55deg, #48b982 0%, #0f6e40 100%);
                width: 10rem;
                height: 3rem;
                margin-right: 2rem;
                border: none;
                border-radius: 3rem;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:hover{
                    background: linear-gradient(220.55deg, #009b50 0%, #004122 100%);
                }

                span{
                    font-size: 0.7rem;
                    color: white;
                    display: flex;
                    justify-content: center;

                    .icon-download{
                        color: white;
                        width: 1.5rem;
                        font-size: 1rem;

                    }
                }

            }
        }
    }




    .c-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;

        img{
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 27rem;
            width: auto;
        }

        video{
            width: 100%;
            padding: 0 2rem;
        }
    }

    .c-tang{
        margin-left: 1rem;
        
    }
}



@media (max-width: 700px) {

    .container-detail{


    .user{
        display: flex;
        flex-direction: column;
        align-items:  start;
        margin-top: 2rem;
        .user-img{

            .title-fallow{

            }
        }

        .container-button{
            width: max-content;
            display: flex;
            margin-right: auto;
            margin-top: 1.5rem;

            .container-like{
                display: flex;
                
            }

            .download{
                margin-right: 0;
            
            }
        }
    }
    .c-img{
        margin-top: 5rem;
        
        img{
            width: 100%;
            height: auto;
            padding: 0 1rem;
        }
    }
    .c-tang{
        margin-bottom: 1rem;
        
    }

}
}